.input-question-field {
  border: #707070 solid 1px;
  border-radius: 17px 17px 17px 0px;
  min-height: 53px;
  min-width: 317px;
  text-align: center;
  font-size: 15px;
  color: #2f2e41;
  opacity: 0.65;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 20px;
}

.add-answer-button {
  color: #2f2e41;
  opacity: 0.83;
  font-size: 15px;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
}

.answer-item {
  color: #2f2e41;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
}

.input-answer-field {
  border: #707070 solid 1px;
  border-radius: 0px 17px 17px 17px;
  min-height: 40px;
  min-width: 185px;
  text-align: center;
  font-size: 15px;
  color: #2f2e41;
  opacity: 0.65;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
}

.answer-container {
  margin-left: 30px;
}
