.input-question {
  border: #707070 solid 1px;
  border-radius: 17px 17px 17px 0px;
  min-height: 53px;
  min-width: 317px;
  text-align: center;
  font-size: 15px;
  color: #2f2e41;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 20px;
  outline: 0 !important;
}

.answers-container {
  display: flex;
  flex-direction: column;
  max-width: 317px;
}
.answer-item-container {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 275px;
}

.answer-item {
  color: #2f2e41;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
}

.answer-item-x {
  margin-top: 7px;
}

.input-answer-field {
  border: #707070 solid 1px;
  border-radius: 0px 0px 0px 17px;
  min-height: 40px;
  min-width: 195px;
  text-align: center;
  font-size: 15px;
  color: #2f2e41;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  outline: 0 !important;
  margin-bottom: 7px;
}
.add-answer-button {
  color: #2f2e41;
  opacity: 0.83;
  font-size: 15px;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  margin-left: 27px;
}
