.input-question-field {
  border: #707070 solid 1px;
  border-radius: 17px 17px 17px 0px;
  min-height: 53px;
  min-width: 317px;
  text-align: center;
  font-size: 15px;
  color: #2f2e41;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 10px;
  outline: 0 !important;
}

.add-answer-button {
  color: #2f2e41;
  opacity: 0.83;
  font-size: 15px;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  margin-left: 35px;
}

label:disabled,
label[disabled] {
  color: #6c757d !important;
  opacity: 0.83;
  font-size: 15px;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  margin-left: 35px;
}

.answer-item {
  color: #2f2e41;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  margin-left: 5px;
}

.answer-item-x {
  margin-top: 7px;
  margin-right: 30px;
  margin-left: auto;
}

.input-answer-field {
  border: #707070 solid 1px;
  border-radius: 0px 0px 0px 17px;
  min-height: 40px;
  min-width: 195px;
  text-align: center;
  font-size: 15px;
  color: #2f2e41;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  outline: 0 !important;
  margin-bottom: 7px;
}

.answer-container {
  display: flex;
  margin-left: 30px;
  max-width: 350px;
}

.sub-text {
  margin-left: 45px;
}
