.button{
    height: 45px;
    width: 149px;
    background-color: #FF6584;
    color: #ffffffe6;
    font-family: 'Raleway' 'Regular';
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -1px;
    opacity: 90%;
    border-radius: 17px;
    outline: 0 !important;
    box-shadow: 0px 3px 6px rgba(0,0,0,.3);
}