.button-primary {
  height: 45px;
  width: 149px;
  background-color: #ff6584;
  color: #ffffffe6;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -1px;
  opacity: 90%;
  border-radius: 17px;
  outline: 0 !important;
  border-style: none;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

.button-submit {
  height: 40px;
  width: 123px;
  background-color: #ff6584;
  color: #ffffffe6;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -1px;
  opacity: 90%;
  border-radius: 0px 17px 17px 0px;
  outline: 0 !important;
  border-style: none;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

.button-square {
  background-color: #fff2fb;
  height: 100px;
  max-height: 35;
  margin-bottom: 2px;
  color: #2f2e41;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -1px;
  opacity: 90%;
  outline: 0 !important;
  border-style: none;
}

.button-square:hover {
  background-color: #ffe3f7;
  color: black;
}

.button-square:focus {
  background-color: #ffe3f7;
  color: black;
}

.button-preview {
  height: 40px;
  width: 160px;
}
button:hover {
  background-color: #fd466b;
}

button:disabled,
button[disabled] {
  background-color: #6c757d !important;
  opacity: 0.65;
  box-shadow: none;
}
