.letter-explanation {
  width: 280px;
  height: 115px;
  font-size: 14px;
  text-align: left;
  color: #2f2e41;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  outline: 0 !important;
}

.question-container-letter {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: break-all;
  width: 240px;
  height: 35px;
  margin-top: 41px;
  color: #2f2e41;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.answer-container-letter {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 255px;
  height: 67px;
  overflow: hidden;
  margin-top: 93.5px;
  text-align: center;
  border-radius: 12px 12px 12px 12px;
}

.box-letter {
  position: relative;
  z-index: -1;
  margin-top: 25px;
}

.loader {
  margin-top: 40px;
  margin-left: 100px;
}
