.letter-explanation-large {
  margin-top: 25px;
  margin-left: 10px;
  width: 280px;
  height: 110px;
  font-size: 14px;
  text-align: left;
  color: #2f2e41;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  outline: 0 !important;
}

.letter-explanation-small {
  margin-top: 25px;
  margin-left: 10px;
  width: 280px;
  height: 65px;
  font-size: 14px;
  text-align: left;
  color: #2f2e41;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  outline: 0 !important;
}

.answer-container-letter {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  position: absolute;
  width: 255px;
  height: 67px;
  overflow: hidden;
  margin-top: 94px;
  text-align: center;
  border-radius: 12px 12px 12px 12px;
}

.box-letter {
  position: relative;
  z-index: -1;
  margin-top: 25px;
}

.loader {
  margin-top: 25px;
}
