.text-preview-field {
  position: absolute;
  margin-top: 20px;
}
.pages {
  position: relative;
  z-index: -1;
}

.box {
  position: relative;
  z-index: -1;
  margin-top: 25px;
  margin-left: 47px;
}
.main-container {
  display: flex;
  flex-direction: column;
}
.answer-item {
  color: #2f2e41;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  margin-left: 5px;
}
.pages-container {
  display: flex;
  justify-content: center;
  height: 415px;
  width: 375px;
}

.answer-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 255px;
  max-height: 80px;
  margin-top: 86px;
  margin-left: 60px;
  text-align: center;
  border-radius: 12px 12px 12px 12px;
}
.send-button-container {
  margin-left: 160px;
  margin-top: 15px;
}
.question-container {
  position: absolute;
  overflow-x: auto;
  white-space: nowrap;
  width: 240px;
  height: 35px;
  margin-top: 47px;
  margin-left: 67px;
  text-align: center;
  color: #2f2e41;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
}
