.text-preview-field {
  position: absolute;
  margin-top: 20px;
}
.pages {
  position: relative;
  z-index: -1;
}
.main-container {
  display: flex;
  flex-direction: column;
}
.answer-item {
  color: #2f2e41;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  margin-left: 5px;
}
.pages-container {
  display: flex;
  justify-content: center;
  height: 415px;
  width: 375px;
}

.send-button-container {
  margin-left: 160px;
  margin-top: 15px;
}
.question-container {
  border: #707070 solid 1px;
  border-radius: 0px 0px 17px 17px;
  min-height: 40px;
  width: 317px;
  margin-top: 3px;
}
