.text-editor-container {
  border: #707070 solid 1px;
  border-radius: 17px 17px 17px 0px;
  height: 275px;
  width: 317px;
  margin-top: 3px;
}

.preview-container {
  height: 375px;
  width: 275px;
  overflow-y: scroll;
}

.subtext {
  position: static;
  z-index: -1;
  padding-top: 7px;
}
