.text-editor-container {
  border: #707070 solid 1px;
  border-radius: 17px 17px 17px 0px;
  height: 275px;
  width: 317px;
  margin-top: 3px;
}

.subtext {
  position: static;
  z-index: -1;
  padding-top: 7px;
}
