.text-editor-header {
  display: flex;
  justify-content: center;
  margin-right: 209px;
  margin-top: 35px;
}
.question-header {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-right: 230px;
}
.email-input-header {
  display: flex;
  justify-content: center;
  margin-right: 227px;
}
.email-input {
  border: #707070 solid 1px;
  border-radius: 17px 17px 17px 0px;
  min-height: 53px;
  min-width: 317px;
  text-align: center;
  font-size: 15px;
  color: #2f2e41;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
  outline: 0 !important;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-left: 170px;
  margin-top: 10px;
}
